.button {
  padding: var(--button-medium-padding, 10px 20px);
  font-size: var(--button-medium-font-size, 16px);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10rem;
  background-color: var(--button-bg);
}

/* Hover & Active */
.button:not(:disabled):hover {
  background-color: var(--button-bg-hover);
}

.button:not(:disabled):active {
  background-color: var(--button-bg-active);
}

/* Disabled */
.button:disabled {
  background-color: var(--color-disabled, #aaa);
  cursor: not-allowed;
}

/* Colors */
.button-primary {
  --button-bg: var(--color-primary);
  --button-bg-hover: var(--color-primary-hover);
  --button-bg-active: var(--color-primary-active);
}

.button-secondary {
  --button-bg: var(--color-secondary);
  --button-bg-hover: var(--color-secondary-hover);
  --button-bg-active: var(--color-secondary-active);
}

.button-info {
  --button-bg: var(--color-info);
  --button-bg-hover: var(--color-info-hover);
  --button-bg-active: var(--color-info-active);
}

.button-success {
  --button-bg: var(--color-success);
  --button-bg-hover: var(--color-success-hover);
  --button-bg-active: var(--color-success-active);
}

.button-warning {
  --button-bg: var(--color-warning);
  --button-bg-hover: var(--color-warning-hover);
  --button-bg-active: var(--color-warning-active);
}

.button-danger {
  --button-bg: var(--color-danger);
  --button-bg-hover: var(--color-danger-hover);
  --button-bg-active: var(--color-danger-active);
}

/* Sizes */
.button-small {
  padding: var(--button-small-padding, 5px 10px);
  font-size: var(--button-small-font-size, 14px);
  height: var(--button-small-height, 30px);
}

.button-medium {
  padding: var(--button-medium-padding, 10px 20px);
  font-size: var(--button-medium-font-size, 16px);
  height: var(--button-medium-height, 34px);
}

.button-large {
  padding: var(--button-large-padding, 15px 30px);
  font-size: var(--button-large-font-size, 18px);
  height: var(--button-large-height, 38px);
}
