:root {
  --small-padding: 5px 10px;
  --small-font-size: 14px;
  --smail-height: 30px;

  --medium-padding: 10px 20px;
  --medium-font-size: 16px;
  --medium-height: 40px;

  --large-padding: 15px 30px;
  --large-font-size: 18px;
  --large-height: 50px;
}
