:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;

  --color-secondary: #6c757d;
  --color-secondary-hover: #5a6268;

  --color-success: #28a745;
  --color-success-hover: #218838;

  --color-danger: #dc3545;
  --color-danger-hover: #c82333;

  --color-info: #17a2b8;
  --color-info-hover: #138496;

  --color-warning: #ffc107;
  --color-warning-hover: #e0a800;
}
